{% extends "base_public.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
  <h1 class="page-title">About Chatbot</h1>
  <div class="page-text">
    Chatbot ini dikembangkan sebagai bagian dari proyek skripsi untuk memenuhi persyaratan 
    akademik Fakultas Teknologi Informasi di Universitas Tarumanagara. Proyek ini bertujuan untuk merancang dan mengimplementasikan sebuah 
    sistem chatbot berbasis website yang mampu memberikan respons interaktif, cepat, dan relevan terhadap kebutuhan pengguna.
  </div>
</div>
{% endblock %}
